.mdl-layout__content{
	background:rgb(224, 224, 224);
}

.demo-card-wide{
	width:80vw;
	margin: 5vh auto;
	min-height:initial;
	display:block;
}

.page-content{
	padding-top:5vh;
}

/*.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 176px;
	background: url('https://michaelxing.tk/aktsa/img/nats.jpg') center / cover;
}*/

.demo-card-wide .card-right{
	float:right;
	width:calc(100% - 204px);
}

.demo-card-wide .card-left{
	float:left;
}

.thin-lines div{
	margin-top:0; padding-top:0;
}
.thin-lines h3{
	margin:0;
	font-size:160%;
	color:black;
}
.thin-lines h4{
	margin:0;
	font-size:125%;
	color:black;
}

a.Citation{
	color:inherit;
	text-decoration:none;
}
a.Citation:hover{
	text-decoration:underline;
}
a.Citation:active{
	text-decoration:none;
}


.FloatImg{
	float:right;
	width:27.8vh;
	height:20vh;

	object-fit:cover;
	object-position:center;

}