.mdl-layout__content{
	background:rgb(224, 224, 224);
}

.demo-card-wide{
	width:80vw;
	margin: 5vh auto;
	min-height:initial;
	display:block;
}

.page-content{
	padding-top:5vh;
}

/*.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 176px;
	background: url('https://michaelxing.tk/aktsa/img/nats.jpg') center / cover;
}*/

.demo-card-wide .card-right{
	float:right;
	width:calc(100% - 204px);
}

.demo-card-wide .card-left{
	float:left;
}

.thin-lines div{
	margin-top:0; padding-top:0;
}